# Q1. Question 123: 

# - Input: 
    - bookId(Int)                     SalesOfBookByStore (Array(Int))
        1                               Array(30, 5, 20, 10) 
        2                               Array(20, 10) 
        3                               Array(60) 
        . 
        . 
        . 
        n 
# - output 
        1 65 

        2 30 
        3 60 
        . 
        . 
        . 
        n

In [0]:
%scala
import org.apache.spark.sql._
import org.apache.spark.sql.types.{ArrayType, IntegerType, StructField, StructType}

val  book_schema =StructType(
    List(
      StructField("bookId",IntegerType,true),
      StructField("SalesOfBookByStore",ArrayType(IntegerType),true)
    ))

import org.apache.spark.sql.Row
import scala.collection.JavaConversions._//JavaConverters._
import org.apache.spark.sql.functions.explode
                
val rowData= Seq(Row(1,Seq(30,5,20,10)), 
               Row(2,Seq(20,10)), 
               Row(3,Seq(60))
                )

import spark.implicits._

val df = spark.createDataFrame(rowData,book_schema)

val result = df.select($"bookId",explode($"SalesOfBookByStore") as "SalesOfBookByStore")
val final_result = result.groupBy("bookId").sum("SalesOfBookByStore")

final_result.show()

In [0]:
%python

from pyspark.sql.types import StringType, StructField, StructType, ArrayType, IntegerType
from pyspark.sql.functions import explode
from pyspark.sql import Row

book_schema =StructType(
    [
      StructField("bookId",IntegerType(),True),
      StructField("SalesOfBookByStore",ArrayType(IntegerType()),True)
    ])

#import org.apache.spark.sql.Row
#import scala.collection.JavaConversions._//JavaConverters._
#import org.apache.spark.sql.functions.explode
       

rowData= [Row(1,[30,5,20,10]), 
               Row(2,[20,10]), 
               Row(3,[60])
            ]

#import spark.implicits._

df = spark.createDataFrame(rowData,book_schema)

df1 = df.select("bookId",explode('SalesOfBookByStore') )

result =  df1.selectExpr("bookId","col as SalesOfBookByStore")
final_result = result.groupBy("bookId").sum("SalesOfBookByStore")

final_result.show()

+------+-----------------------+
|bookId|sum(SalesOfBookByStore)|
+------+-----------------------+
|     1|                     65|
|     2|                     30|
|     3|                     60|
+------+-----------------------+

# Q4. Given 

- s = "the sky is blue" 

- return "blue is sky the"

In [0]:
%scala
val s = "the sky is blue" 
val split = s.split(" ")
var sum = ""
val result = split.reverse.fold("")((x,y) => x + y +' ')

print(result)

# Q5.  
# - Given: 
    date  store product     sales_val   sales_vol sales_discount_val 
    date  store product     stock_val   stock_vol 
    date  store product     order_val   order_vol 
 
# - Get below, without using Joins 

    date store product sales_val sales_vol sales_discount_val date store product stock_val stock_vol date store product order_val order_vol

# WAP to find out top movies with following conditions
  1) at least 100 people should have rated for that movie.
  2)  average rating > 4.5
# DataSet1
    user_id, movie_id, ratings, timestamp(hipoc time, no of seconds after 1st jan 1970)
    1::1193::5::978300760
    1::661::3::978302109
    1::914::3::978301968
    1::3408::4::978300275
    1::2355::5::978824291
    1::1197::3::978302268
    1::1287::5::978302039
    1::2804::5::978300719
    1::594::4::978302268
# DataSet 2
     user_id, movie_name, movie_type
    1::Toy Story (1995):: Animation | Children's | Comedy
    2::Jumanji (1995):: Adventure | Children's | Fantasy
    3::Grumpier Old Men (1995):: Comedy | Romance 4 4::Waiting to Exhale (1995):: Comedy | Drama
    5::Father of the Bride Part II (1995):: Comedy
    6::Heat (1995):: Action | Crime | Thriller
    7::Sabrina (1995):: Comedy | Romance
    8::Tom and Huck (1995):: Adventure | Children's
    9::Sudden Death (1995)::Action
    10::GoldenEye (1995):: Action | Adventure | Thriller
    11::American President, The (1995):: Comedy | Drama | Romance
    12::Dracula: Dead and Loving It (1995):: Comedy
    13::Balto (1995):: Animation | Children's
    14::Nixon (1995):: Drama
    15::Cutthroat Island (1995):: Action | Adventure | Romance

# Question: